html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
}

@media (max-width: 1100px) {
  .trade-history-column {
    display: none !important;
  }
}

.order-form-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.order-form-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
